* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Sombra menu */
.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
/* Sombra menu */

/* Inicio section principal */

.cor-primaria {
    color: #0c4f9b;
}

.text {
    text-align: center;
    padding: 50px 0;
}
.text h1 {
    margin: 29px 0 34px 0;
}
.text p {
    font-size: 27px;
}
.bgimg {
    height: 600px;
    background-image: url(/imgs/ar001.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}
.bgimg .btn {
    background-color: #0c4f9b;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    margin: 100px 0;
}
.carousel1 {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 30px 0;
}

.carousel-inner1 {
    display: flex;
}

.carousel-inner1 img {
    margin: 0 50px;
    height: 40px;
    max-height: 40px;
    flex-shrink: 0;
    animation: slide 34s linear infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2827px);
    }
}

.retirar-borda {
    border-radius: 0;
    border-color: #0d6efd00;
}

.retirar-borda:hover {
    border-color: #0d6efd00;
}

/* Fim section principal */

/* Inicio section de depoimentos */
.coluna {
    float: left;
    width: 33.33%;
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}
#example1 {
    border: 5px solid #0c4f9b;
    padding: 10px;
    border-radius: 25px;
}

.section_faq {
    width: 70%;
    max-width: 2000px;
}

/* Fim section depoimentos */

/* Inicio section de FAQ */
.lead {
    text-decoration: none;
}
/* Fim section de FAQ */
